---
- name: Backup Cisco IOS configs and Upload to FTP
  hosts: all
  gather_facts: false
  connection: network_cli

  vars:
    ansible_network_os: cisco.ios.ios
    backup_root: "/tmp/config-backups"
    # FTP Details
    ftp_host: "10.201.6.41"
    ftp_user: "netadmin"
    ftp_pass: "testing@123"
    ftp_remote_dir: "config-backups"

  tasks:
    - name: Generate and freeze timestamp
      ansible.builtin.set_fact:
        timestamp: "{{ lookup('pipe', 'date +%Y%m%d-%H%M%S') }}"
      run_once: true
      delegate_to: localhost

    - name: Define Archive Name
      ansible.builtin.set_fact:
        archive_file: "network_backups_{{ timestamp }}.tar.gz"
      run_once: true

    - name: Create local backup directory
      ansible.builtin.file:
        path: "{{ backup_root }}/{{ timestamp }}"
        state: directory
        mode: "0755"
      delegate_to: localhost
      run_once: true

    - name: Get running and startup configs
      cisco.ios.ios_command:
        commands:
          - show running-config
          - show startup-config
      register: device_configs

    - name: Save Running Config to local file
      ansible.builtin.copy:
        content: "{{ device_configs.stdout[0] }}"
        dest: "{{ backup_root }}/{{ timestamp }}/{{ inventory_hostname }}-running.cfg"
      delegate_to: localhost

    - name: Save Startup Config to local file
      ansible.builtin.copy:
        content: "{{ device_configs.stdout[1] }}"
        dest: "{{ backup_root }}/{{ timestamp }}/{{ inventory_hostname }}-startup.cfg"
      delegate_to: localhost

    - name: Create compressed archive
      ansible.builtin.shell: "tar -czf {{ backup_root }}/{{ archive_file }} -C {{ backup_root }}/{{ timestamp }} ."
      delegate_to: localhost
      run_once: true

    - name: Upload archive to FTP
      ansible.builtin.command: >
        curl --fail --ftp-create-dirs -T "{{ backup_root }}/{{ archive_file }}"
        "ftp://{{ ftp_user }}:{{ ftp_pass }}@{{ ftp_host }}/{{ ftp_remote_dir }}/"
      delegate_to: localhost
      run_once: true
      no_log: true
