---
- name: Configure NTP on Cisco routers (same settings)
  hosts: all
  gather_facts: false
  connection: network_cli

  vars:
    ansible_network_os: cisco.ios.ios
    ntp_servers:
      - "10.201.9.10"
      - "1.1.1.1"
      - "10.201.9.11"
    ntp_source_intf: "Loopback0"

  tasks:
    - name: Configure NTP servers (supported everywhere)
      cisco.ios.ios_config:
        lines:
          - "ntp server {{ item }}"
      loop: "{{ ntp_servers }}"

    - name: Try to configure NTP source interface (skip if unsupported)
      cisco.ios.ios_config:
        lines:
          - "ntp source {{ ntp_source_intf }}"
      ignore_errors: true
